<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
      <p>{{ site.description }}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices turpis non mauris laoreet, a porta sapien tincidunt. Cras nec quam placerat, lacinia odio non, placerat lacus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices turpis non mauris laoreet, a porta sapien tincidunt. Cras nec quam placerat, lacinia odio non, placerat lacus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices turpis non mauris laoreet, a porta sapien tincidunt. Cras nec quam placerat, lacinia odio non, placerat lacus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices turpis non mauris laoreet, a porta sapien tincidunt. Cras nec quam placerat, lacinia odio non, placerat lacus.</p>
    </div>
  </div>
</footer>
